# US Treasury Data

In [21]:
import pandas as pd
import pandas_datareader as pdr
import pandas_datareader as pdr
import plotly.graph_objects as go
import plotly.express as px

In [22]:
# Get US Treasury Rates from FRED

start = '2000-01-01'
tickers = ['GS30','GS10','GS5','GS3','GS2','GS1','GS6m','GS3m']
treasury_df = pdr.get_data_fred(tickers,start)
treasury_df.columns=['30Y','10Y','5Y','3Y','2Y','1Y','6M','3M']
treasury_df.dropna(inplace=True)
# Changing format from 1st day of the month to last day of the month
treasury_df.index = treasury_df.index + pd.offsets.MonthEnd(0)
print(f'rates as at: {treasury_df.index[-1]}')

rates as at: 2023-05-31 00:00:00

In [23]:
treasury_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 281 entries, 2000-01-31 to 2023-05-31
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   30Y     281 non-null    float64
 1   10Y     281 non-null    float64
 2   5Y      281 non-null    float64
 3   3Y      281 non-null    float64
 4   2Y      281 non-null    float64
 5   1Y      281 non-null    float64
 6   6M      281 non-null    float64
 7   3M      281 non-null    float64
dtypes: float64(8)
memory usage: 19.8 KB

In [24]:
   fig = go.FigureWidget(data=[go.Surface(x=treasury_df.columns,
                                    y=treasury_df.index,
                                    z=treasury_df.values,
                                    opacity=0.95,
                                    connectgaps=True,
                                    colorscale='rdbu',
                                    showscale=True,
                                    reversescale=True,
                                    )
                        ]
                )
fig

FigureWidget({
    'data': [{'colorscale': [[0.0, 'rgb(103,0,31)'], [0.1, 'rgb(178,24,43)'],
                             [0.2, 'rgb(214,96,77)'], [0.3, 'rgb(244,165,130)'],
                             [0.4, 'rgb(253,219,199)'], [0.5, 'rgb(247,247,247)'],
                             [0.6, 'rgb(209,229,240)'], [0.7, 'rgb(146,197,222)'],
                             [0.8, 'rgb(67,147,195)'], [0.9, 'rgb(33,102,172)'],
                             [1.0, 'rgb(5,48,97)']],
              'connectgaps': True,
              'opacity': 0.95,
              'reversescale': True,
              'showscale': True,
              'type': 'surface',
              'uid': '296a2fe9-2217-40f7-a7a3-9d9ce818fda1',
              'x': array(['30Y', '10Y', '5Y', '3Y', '2Y', '1Y', '6M', '3M'], dtype=object),
              'y': array([datetime.datetime(2000, 1, 31, 0, 0),
                          datetime.datetime(2000, 2, 29, 0, 0),
                          datetime.datetime(2000, 3, 31, 0, 0), ...,
                          datetime.datetime(2023, 3, 31, 0, 0),
                          datetime.datetime(2023, 4, 30, 0, 0),
                          datetime.datetime(2023, 5, 31, 0, 0)], dtype=object),
              'z': array([[6.63, 6.66, 6.58, ..., 6.12, 5.76, 5.5 ],
                          [6.23, 6.52, 6.68, ..., 6.22, 6.  , 5.73],
                          [6.05, 6.26, 6.5 , ..., 6.22, 6.11, 5.86],
                          ...,
                          [3.77, 3.66, 3.82, ..., 4.68, 4.99, 4.86],
                          [3.68, 3.46, 3.54, ..., 4.68, 4.99, 5.07],
                          [3.86, 3.57, 3.59, ..., 4.91, 5.27, 5.31]])}],
    'layout': {'template': '...'}
})

In [25]:
treasury_df["10_v_2"] = (treasury_df["10Y"]- treasury_df["2Y"])
treasury_df

             30Y   10Y    5Y    3Y    2Y    1Y    6M    3M  10_v_2
DATE
2000-01-31  6.63  6.66  6.58  6.49  6.44  6.12  5.76  5.50    0.22
2000-02-29  6.23  6.52  6.68  6.65  6.61  6.22  6.00  5.73   -0.09
2000-03-31  6.05  6.26  6.50  6.53  6.53  6.22  6.11  5.86   -0.27
2000-04-30  5.85  5.99  6.26  6.36  6.40  6.15  6.07  5.82   -0.41
2000-05-31  6.15  6.44  6.69  6.77  6.81  6.33  6.39  5.99   -0.37
...          ...   ...   ...   ...   ...   ...   ...   ...     ...
2023-01-31  3.66  3.53  3.64  3.91  4.21  4.69  4.80  4.69   -0.68
2023-02-28  3.80  3.75  3.94  4.23  4.53  4.93  4.97  4.79   -0.78
2023-03-31  3.77  3.66  3.82  4.09  4.30  4.68  4.99  4.86   -0.64
2023-04-30  3.68  3.46  3.54  3.76  4.02  4.68  4.99  5.07   -0.56
2023-05-31  3.86  3.57  3.59  3.82  4.13  4.91  5.27  5.31   -0.56

[281 rows x 9 columns]

In [52]:
fig = go.FigureWidget(data=[go.Scatter(x=treasury_df.index,
                                y=treasury_df["10_v_2"] * 100,
                                mode ='lines',
                                )
                    ]
            )

fig.update_layout(
yaxis=dict(
    title="10yr - 2yr Tsry Yield",
    ticksuffix=" bps"
)
)


fig

FigureWidget({
    'data': [{'marker': {'color': [green, red, red, ..., red, red, red]},
              'mode': 'lines',
              'type': 'scatter',
              'uid': '35815666-72e2-49d4-8baf-080f778fa770',
              'x': array([datetime.datetime(2000, 1, 31, 0, 0),
                          datetime.datetime(2000, 2, 29, 0, 0),
                          datetime.datetime(2000, 3, 31, 0, 0), ...,
                          datetime.datetime(2023, 3, 31, 0, 0),
                          datetime.datetime(2023, 4, 30, 0, 0),
                          datetime.datetime(2023, 5, 31, 0, 0)], dtype=object),
              'y': array([ 22.,  -9., -27., ..., -64., -56., -56.])}],
    'layout': {'template': '...', 'yaxis': {'ticksuffix': ' bps', 'title': {'text': '10yr - 2yr Tsry Yield'}}}
})